  <div class="content" role="main">

    <!-- Highlight Card -->
    <div class="card highlight-card card-small">
      <span>Welcome to IBM Self Sovereign Identity Smart Charging System! Charge your vehicle without losing control over your data!</span>
    </div>

    <div class="card-container">
      <a class="card" rel="noopener" routerLink="emsp" routerLinkActive="active">
        <mat-icon>electrical_services</mat-icon>

        <span>eMobility Service Provider</span>

        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
      </a>
      <a class="card" rel="noopener" routerLink="rdw" routerLinkActive="active">
        <mat-icon>directions_car</mat-icon>

        <span>Transportation Agency</span>

        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
      </a>
      <a class="card" rel="noopener" routerLink="charging-station" routerLinkActive="active">
        <mat-icon>support_agent</mat-icon>

        <span>Charging Station</span>

        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
      </a>

      <a class="card" rel="noopener" routerLink="agent-apis" routerLinkActive="active">
        <mat-icon>screen_share</mat-icon>

        <span>Agent-UIs</span>

        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
      </a>

    </div>
  </div>


